@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Yanone+Kaffeesatz:wght@500&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: #252a30;
}
body::-webkit-scrollbar-thumb {
  background: white;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(153, 153, 153) 20%,
    rgb(184, 183, 183) 40%,
    rgb(153, 153, 153) 60%,
    transparent 80%
  );
}
.body-container {
  position: relative;
  height: 157vh;
  width: 100vw;
  background-color: #076d86;
}

.header {
  height: 17vh;
  width: 100vw;
  background-color: #252a30;
  position: fixed;
  z-index: 1000;
}

.title {
  position: absolute;
  left: calc(3vw + 85px);
  top: 3vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
  font-size: 7vh;
}

.logo {
  position: absolute;
  left: 3vw;
  top: 1vh;
  height: 100px;
  width: 85px;
}

.sub-title {
  position: absolute;
  left: 4vw;
  top: 9vh;
  color: white;
  font-family: "Akaya Kanadaka", cursive;
  font-size: 4vh;
}

.left-container {
  position: absolute;
  top: 17vh;
  width: 100vw;
  height: 123vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: absolute;
  top: 3vh;
  border: 2px dotted #252a30;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 40vh;
  width: 40vh;
}

.caption {
  position: absolute;
  top: 47vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding-left: 35px;
}

#fileInput {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.output-container {
  position: absolute;
  top: 10vh;
  top: 52vh;
  border: 2px dotted #252a30;
  height: 40vh;
  width: 40vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-height {
  position: absolute;
  top: 95vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.input-width {
  position: absolute;
  top: 100vh;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.button-resize {
  position: absolute;
  background-color: #252a30;
  color: white;
  font-family: "Akaya Kanadaka", cursive;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
  top: 105vh;
  pointer-events: none;
  cursor: pointer;
}

.button-download {
  position: absolute;
  background-color: #252a30;
  color: white;
  font-family: "Akaya Kanadaka", cursive;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
  top: 112vh;
  pointer-events: none;
  cursor: pointer;
}

.footer {
  position: absolute;
  top: 140vh;
  height: 17vh;
  width: 100vw;
  background-color: #252a30;
  display: flex;
  align-items: center;
}

.footer-title {
  position: absolute;
  left: 3vw;
  font-family: "Akaya Kanadaka", cursive;
  color: white;
  font-size: 3vh;
}

.download {
  color: white;
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}
